$clr-text-primary: #000;
$clr-text-primary-light: #777;
$clr-text-secondary: #2879fe;
$clr-text-secondary-light: whitesmoke;
// $clr-bcg-primary-light: #06101A;
// $clr-bcg-primary-dark: #050E17;
// $clr-bcg-secondary: #063345;