@use '../../scss/abstracts'as *;

.navbar {
    height: 80px;

    .wrapper {
        padding: .7em 2.2em;
        display: flex;
        justify-content: space-between;

        .item {
            display: flex;
            align-items: center;
            font-size: $fs-500;
        }

        .left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
        }

        .center {
            display: flex;
            align-items: center;
            font-size: $fs-700;
            letter-spacing: .15em;
        }

        .right {
            // gap: 25px;
            gap: 1em;
            display: flex;
            align-items: center;

            .icons {
                display: flex;
                gap: 1rem;
                color: $clr-text-primary-light;
                gap: .9rem;
                cursor: pointer;
            }

            .cartIcon {
                position: relative;

                span {
                    font-size: $fs-300;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: #2879fe;
                    color: $clr-text-secondary-light;
                    position: absolute;
                    right: -5px;
                    top: -5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .flag {
            width: 30px;
        }

    }

}